axe-transformed.glb filter=lfs diff=lfs merge=lfs -text
axe.glb filter=lfs diff=lfs merge=lfs -text
FlatScreen-transformed.glb filter=lfs diff=lfs merge=lfs -text
FlatScreen.glb filter=lfs diff=lfs merge=lfs -text
capsule-transformed.glb filter=lfs diff=lfs merge=lfs -text
capsule.glb filter=lfs diff=lfs merge=lfs -text
Display-transformed.glb filter=lfs diff=lfs merge=lfs -text
Display.glb filter=lfs diff=lfs merge=lfs -text
FurnitureModel.glb filter=lfs diff=lfs merge=lfs -text
KatanaModel.glb filter=lfs diff=lfs merge=lfs -text
RobotModel-transformed.glb filter=lfs diff=lfs merge=lfs -text
LegoModel.glb filter=lfs diff=lfs merge=lfs -text
GuitarModel-transformed.glb filter=lfs diff=lfs merge=lfs -text
GuitarModel.glb filter=lfs diff=lfs merge=lfs -text
KnifeGoose-transformed.glb filter=lfs diff=lfs merge=lfs -text
RobotModel.glb filter=lfs diff=lfs merge=lfs -text
AnimeModel.glb filter=lfs diff=lfs merge=lfs -text
KnifeGoose.glb filter=lfs diff=lfs merge=lfs -text
PortfolioScene-transformed.glb filter=lfs diff=lfs merge=lfs -text
PortfolioScene.glb filter=lfs diff=lfs merge=lfs -text
